openapi: 3.2.0
info:
  title: GitLab Metadata API
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
  termsOfService: https://about.gitlab.com/terms/
  license:
    name: CC BY-SA 4.0
    url: https://gitlab.com/gitlab-org/gitlab/-/blob/master/LICENSE
servers:
- url: https://www.gitlab.com/api/
security:
- ApiKeyAuth: []
tags:
- name: Metadata
  description: Operations related to metadata of the GitLab instance
paths:
  /api/v4/metadata:
    get:
      tags:
      - Metadata
      summary: GitLab Retrieve Metadata Information for This GitLab Instance
      description: This feature was introduced in GitLab 15.2.
      operationId: getApiV4Metadata
      responses:
        '200':
          description: Retrieve metadata information for this GitLab instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Metadata'
        '401':
          description: Unauthorized
          content: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    API_Entities_Metadata:
      type: object
      properties:
        version:
          type: string
          example: 15.2-pre
        revision:
          type: string
          example: c401a659d0c
        kas:
          type: object
          properties:
            enabled:
              type: boolean
            externalUrl:
              type: string
              example: grpc://gitlab.example.com:8150
            version:
              type: string
              example: 15.0.0
        enterprise:
          type: boolean
          example: true
      description: API_Entities_Metadata model
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Private-Token
