openapi: 3.2.0
info:
  title: GitLab Avatar API
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
  termsOfService: https://about.gitlab.com/terms/
  license:
    name: CC BY-SA 4.0
    url: https://gitlab.com/gitlab-org/gitlab/-/blob/master/LICENSE
servers:
- url: https://www.gitlab.com/api/
security:
- ApiKeyAuth: []
tags:
- name: Avatar
paths:
  /api/v4/avatar:
    get:
      tags:
      - Avatar
      description: Return avatar url for a user
      operationId: getApiV4Avatar
      parameters:
      - name: email
        in: query
        description: Public email address of the user
        required: true
        schema:
          type: string
        example: user@example.com
      - name: size
        in: query
        description: Single pixel dimension for Gravatar images
        schema:
          type: integer
          format: int32
        example: 42
      responses:
        '200':
          description: Return avatar url for a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Avatar'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Get api V4 avatar
      x-summary-source: derived
components:
  schemas:
    API_Entities_Avatar:
      type: object
      properties:
        avatar_url:
          type: string
          example: https://gitlab.com/example
      description: API_Entities_Avatar model
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Private-Token
